<footer class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">        
          <h5 class="font-bold pink-text"><strong>Scott Schardt</strong> </h5>
          <p class="grey-text" >Please feel free to contact me.</p>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="font-bold pink-text"><strong>How to Reach Me</strong></h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="grey-text" >scott.thomas.schardt@gmail.com</a>
              </li>
              <li>
                  <a class="grey-text" href="#!">(949)981-8163</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
              <h5 class="font-bold pink-text" ><strong>Professional Links</strong></h5>
              <ul class="list-unstyled">
                <li>
                  <a class="grey-text" href="https://www.linkedin.com/in/scottschardt/">https://www.linkedin.com/in/scottschardt/</a>
                </li>
                <li>
                    <a class="grey-text" href="https://github.com/scottschardt">https://github.com/scottschardt</a>
                  </li>
              </ul>
            </div>
      </div>
    </div>
  </footer>