<div class="view jarallax"
    style="background-image: url(assets/building.jpg); background-attachment: fixed; height: 1200px;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="text-center">
              <h2
                class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown"
                data-wow-delay="0.3s">
                <strong>Scott Schardt</strong>
              </h2>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s" />
              <h5
                class="font-up mb-5 white-text wow fadeInDown"
                data-wow-delay="0.4s">
                <strong>DEVELOPER</strong>
              </h5>
              <a
                mdbBtn
                color="white"
                outline="true"
                class="wow fadeInDown waves-light popup"
                data-wow-delay="0.4s"
                mdbWavesEffect
                href="assets/resume.pdf"
                download>Resume    <i class="fa fa-download"></i></a>
              <a
                mdbBtn
                color="white"
                outline="true"
                class="wow fadeInDown waves-light"
                data-wow-delay="0.4s"
                mdbWavesEffect
                href="#About"
                >About me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>