

<div class="container" id="Experience">
  <!--Grid row-->
  <div class="row">
      <!--Grid column-->
      <div class="col-md-12 text-center mb-5">
          <h2 class="h1 font-bold light-blue-text my-5">Experience</h2>
          <div class="row">
              <div class="col-md-4">
                <!--Card-->
                <mdb-card cascade="true" wider="true">
            
                  <!--Card image-->
                  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/computer.jpg"></mdb-card-img>
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/Card image-->
            
                  <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                      <strong>Spiral Financial Group</strong>
                    </h4>
                    <h5 class="indigo-text">
                      <strong>Software Engineer <h6 class="pink-text">Current</h6></strong>
                      
                    </h5>
          
                    <mdb-card-text>
                        Company in stealth mode. Building out real-estate application. Recommended and 
                        implemented change from Rest Api to Graphql Api. Lead on developing mobile app in flutter.
                        
                    </mdb-card-text>
                    <a class="btn btn-unique waves-light" mdbWavesEffect
                    mdbPopover="My experience is primarily with Javascript, Node, and Angular. Other technologies include MySQL, HTML, CSS, and Flutter.  
                    I love learning new technologies and am willing to learn what it takes to finish a job."
                    placement="top"
                    mdbPopoverHeader="Technologies:" mdbWavesEffect>Technologies</a>
            
                    <!--Linkedin-->
                   
            
                  </mdb-card-body>
                  <!--/.Card content-->
            
                </mdb-card>
                <!--/.Card-->
              </div>
            
              <div class="col-md-4">
                <!--Card-->
                <mdb-card cascade="true" narrower="true">
            
                  <!--Card image-->
                  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/negotiation.jpeg"></mdb-card-img>
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/Card image-->
            
                  <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>Anthem, Inc.</strong>
                      </h4>
                      <h5 class="indigo-text">
                        <strong>Business Process Consultant</strong>
                      </h5>
                    <!--Text-->
            
                    <mdb-card-text>
                        Reviewed the company's supply portfolio ensuring transparency of spending. 
                        Generating and implementing efficient sourcing and category management strategies. 
                        Analyzing andcalculating costs of procurement and suggest methods to decrease expenditure.
                    </mdb-card-text>
            
                    
            
                  </mdb-card-body>
                  <!--/.Card content-->
            
                </mdb-card>
                <!--/.Card-->
              </div>
            
              <div class="col-md-4">
                <!--Card-->
                <mdb-card cascade="true">
            
                  <!--Card image-->
                  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/Coaching.jpg"></mdb-card-img>
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/Card image-->
            
                  <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>St. Michael's Prep</strong>
                      </h4>
                      <h5 class="indigo-text">
                        <strong>Head Football Coach</strong>
                      </h5>
            
                    <mdb-card-text>
                     Coached high school students to work together as a team for a common goal. During this one year process 
                     I truly learned what it meant to be leader and how important it is to have strong communication with your team.  
                     I believe this experience will make me an invaluable part of any software team I take part in.
                    </mdb-card-text>
            
            
                  </mdb-card-body>
                  <!--/.Card content-->
            
                </mdb-card>
                <!--/.Card-->
              </div>
            </div>
      </div>
      <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="view intro" style="background-image: none; z-index: 0; min-height: 700px;">
  <div class="full-bg-img mask rgba-white-light">
      <div class="container flex-center">
          <div class="row mt-5 py-5">
              <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
                  <div class="text-center">
                      <h2 class="h1 display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">ANNA'S <a class="white-text font-bold">BLOG</a></h2>
                      <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Interior designer & Nature lover</h5>
                      <a mdbBtn color="elegant" size="lg" class="wow fadeInDown waves-effect waves-light" mdbWavesEffect data-wow-delay="0.4s">portfolio</a>
                      <a mdbBtn color="white" outline="true" size="lg" class="wow fadeInDown waves-effect waves-light" mdbWavesEffect data-wow-delay="0.4s">About me</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="view intro" style="background-image: url(assets/ai.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
    <div class="full-bg-img mask rgba-pink-slight">
    </div>
  </div>
</div>

<div class="container" id="About">
  <!--Grid row-->
  <div class="row">
      <!--Grid column-->
      <div class="col-md-12 text-center my-5">
          <h2 class="h1 font-bold grey-text mb-5">About Me</h2>
          <p align="justify">I have had a very different path into software engineering than most other engineers. I majored in Liberal Arts at a college which was founded on the Socratic Method (as opposed to the lecture method) that demanded that I think out of the box and understand the “why” of things. 
            Now when I graduated 
            I applied this to the business world of Strategic Sourcing at a Fortune 30 company, Anthem Inc. I started as a consultant and quickly excelled and in no time they 
            wanted to hire as an employee of their own. However, I wanted more, I needed a bigger challenge.
              I left Anthem in May and started to pave my path as a Software Engineer. I was lucky enough to land a job as a part of OrangeTech as a part time employee and get my feet wet in the field. In my spare time I became the head coach of my old high school’s football team. Most would say this choice to be a coach was 
              not the most professionally efficient decision, shouldn’t I be spending my time honing my skills as a developer instead of coaching high school boys? Wrong. I quickly realized coaching would be the single biggest asset I bring to any professional team. I had to be a leader, coach team work to young men, be a good 
              example and help teach these kids what it means to work together for a common goal.
              I am new to the software field, but I am a very quick learner and a harder worker. If given the opportunity I will apply my leadership abilities I gained through coaching and seamlessly work with the team for the common goals of the company. I have learned Node JS, Angular, MySql, html, css, and flutter and I am very eager to apply this knowledge as a part of your team.</p>
      </div>
  </div>
</div>

<div class="view intro" style="background-image: url(assets/architect.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<div class="view intro" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg); background-attachment: fixed; min-height: 700px">
  <div class="full-bg-img mask rgba-purple-slight">
      <div class="container">
          <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
              <div class="row mt-5">
                  <div class="col-md-12 wow fadeIn mb-3">
                      <div class="intro-info-content text-center">
                          <h3 class="white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">
                            "Those who say they can, and those who say they can't are both usually right"
                          </h3>
                          <h4 class="mb-3 mt-1 white-text font-bold wow fadeIn" data-wow-delay="0.4s">
                            ~Confucius
                          </h4>
                          <a mdbBtn color="pink" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" href="#top">
                            Back to top
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container" id="Contact">
  <div class="row">
      <div class="col-md-12 text-center my-5">
          <h2 class="h1 font-bold pink-text mb-5">Contact Me</h2>
          <app-footer></app-footer>
      </div>
  </div>
</div>