<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://www.linkedin.com/in/scottschardt/">
            <font class="font" color="white">
                LinkedIn
              </font>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://github.com/scottschardt">
            <font class="font" color="white">
              Github
            </font>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#Experience">
            <font class="font" color="white">
              Experience
            </font>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#About">
            <font class="font" color="white">
              About Me
            </font>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#Contact">
            <font class="font" color="white">
              Contact 
            </font>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>